{% extends 'Layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

        
    

    <!-- Section présentation des projets -->

<section id="work" class="nomargin card slide2 h100vh">
    <div class="row bgcolor5">
        <div class="col exo2 bg_keyboard_sm h125p-sm"> 
                        
            <h2 class="color5 nomargin sunflower rotated fs80 fs80-sm titleSection h2padd h2-sm mtop30p">Work</h2>
                
        </div>  
        <div class="col l5 offset-l6 offset-m4 m6 fs24 right-align ">
                <p class="fs20-mm fs24-sm fs24-xs color5 text-justify-sm padd40p">
                Ci-dessous se trouvent les projets sur lesquels j'ai pu travailler durant les 6 mois de formation au sein de l'Access Code
                School, seul ou en groupe.
                </p>
            <ul class="col offset-l9 offset-m7 m3 s12 flex jcaround">
                    <li><a href="https://github.com/loanpasionek/" target="_blank" ><i class="fab faHover fa-github fs40 fs40-xs color5"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/loan-pasionek" target="_blank"><i class="fab faHover fa-linkedin-in fs40 fs40-xs color5"></i></a></li>
                    <li><a href="mailto:l.pasionek@gmail.com"><i class="fas faHover fa-at fs40 fs40-xs color5"></i></a></li>
            </ul>
        </div> 

        
    </div>
      
    <div class="row">
        <div class="owl-carousel">
            {% for projet in projets %}
            <div class="">
                <div class="item mleft40p color6">
                    <div class="col l5 s12">
                        <!-- <hr class="w75p center"> -->
                        <br>
                        <a href="{{ projet.url }}" target="_blank">
                        
                        <img src="{{ asset( projet.image )}}" alt="images projets" class="col l8 s12 imgCarousel">
                        </a>
                    </div>
                    <div class="col l5 s12">
                        <div class="w75">
                            <p class="fs24 fs24-sm bold">{{ projet.name }}</p>
                            <div class="textjustify">
                                <p class="fs20 fs20-sm"><span class="bold">Description :</span> <br>
                                    {{ projet.infos }}
                                </p>
                                <p class="fs20 fs20-sm"><span class="bold">Technologies utilisées :</span> <br>
                                    {{ projet.technos }}
                                </p>
                                <button id="lienProjet"><a href="{{ projet.url }}" target="_blank" class="fs20 bold">Lien vers le projet</a></button>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        
    
</section>



    <!-- Section personnelle -->

<section id="hobbies" class="card nomargin h100vh h100-sm sunflower slide3">
        

    <div class="flex block-on-med-and-down">
            <h3 class="nomargin rotated fs80 fs80-sm titleSection color6 h2padd h2-sm mtop30p right-align">Hobbies</h3>
        <div class="w100-sm flex w100 row padd40p">
            <div class="w25">
                    <p class="fs24 fs32-sm w75-sm bold color6 nomargin center">Et à part le boulot ?</p>

                <ul class="hide-on-small-only center">
                    <button id="btn-all" class="bgcolor9 color6 semi-bold noborder"><li>Tous</li></button>
                    <button id="btn-books" class="bgcolor9 color6 semi-bold noborder"><li>Littérature</li></button>
                    <button id="btn-video" class="bgcolor9 color6 semi-bold noborder"><li>Ciné / séries</li></button>
                    <button id="btn-sport" class="bgcolor9 color6 semi-bold noborder"><li>Sport</li></button>
                    <button id="btn-music" class="bgcolor9 color6 semi-bold noborder"><li>Musique</li></button>
                    <button id="btn-games" class="bgcolor9 color6 semi-bold noborder"><li>Jeux</li></button>
                </ul>
            </div>


            <div class="grid w75 left8-sm w300p-sm w250p-xs">
                {% for hobbie in hobbies %}
                    <div class="grid-item mleft2p mtop2p {{ hobbie.hobClass }} tooltip">
                        <a href="{{ hobbie.hobUrl }}" target="_blank">
                            <img src="{{ asset( hobbie.hobImg ) }}" alt="{{ hobbie.hobName }}" class="opacity100 imgCulture {{ hobbie.category }}">
                            <span class="tooltiptext sunflower">{{ hobbie.hobName }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


    
{% endblock %}



