{% extends 'Layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

        
    <section id="interlude" class="bgcolor2 center fs32 exo2 h100vh flex card hoverable">
        <div class="mAuto">
            <p class="pding15p">Un café avant de commencer ?</p>


            . <br>
            . <br>
            . <br>
            <br>

            <img src="img/tasse_chill.png" alt="tasse" class="mleft40p">

        </div>


    </section>

        <!-- Section présentation des projets -->

    <section id="projets" class="row slide2 slide2-sm color3 h100minusNav h100minusNav-sm center">
        <div class="bg_keyboard_sm h125p-sm">        
            <h3 class="center exo2 fs32">Projets</h3>
        </div>    
        <div class="row">

            <div class="owl-carousel col l12">
                {% for projet in projets %}


                <div class="item col l10 card bgcolor7 color1">

                    <p class="fs24 bold">{{ projet.name }}</p>
                    <hr class="w75p center">

                    <br>
                    <img src="{{ asset( projet.image )}}" alt="images projets" class="imgCarousel">
                    <div class="textjustify">
                        <p class="fs20"><span class="bold">Description :</span> <br>
                            {{ projet.infos }}
                        </p>
                        <p class="fs20"><span class="bold">Technologies utilisées :</span> <br>
                            {{ projet.technos }}
                        </p>
                        <a href="{{ projet.url }}" class="fs20 bold">Lien vers le projet</a>                
                    </div>
                </div>

                {% endfor %}
            </div>

        </div>

    </section>
        
{% endblock %}


