{% extends 'Layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

        
    

    <!-- Section présentation des projets -->

<section id="work" class="nomargin card h100vh h200vh-sm h100vh-xl">
    <div class="row bgcolor3">
        <div class="col titillium bg_keyboard_sm h125p-sm">    
            <h2 class="color6 nomargin titillium rotated rotated-sm fs80 fs80-sm titleSection h2padd mtop30p bold-sm">Work</h2>
        </div>
        
        <div class="row">
{#         <img src="img/workhard.gif" class="col l6">
 #}            <div class="col l5 offset-l6 m6 offset-m4 fs24 right-align titillium">
                <p class="fs20-mm fs24-sm fs24-xs color6 text-justify-sm bold w95-sm padd5p-sm">Au boulot maintenant. Parce que vous êtes ici pour ça, après tout. <br>
                Ci-dessous se trouvent les projets sur lesquels j'ai pu travailler durant les 6 mois de formation au sein de l'Access Code
                School, seul ou en groupe. <br>
                Vous trouverez ci-après mes espaces GitHub, LinkedIn, et un e-mail de contact.
                </p>
                <ul class="col l10 offset-l2 flex jcbetween">
                    <li class="padd0-20-0-20p"><a href="https://github.com/loanpasionek/" target="_blank" ><i class="fab faHover fa-github fs40 fs40-xs color6"></i></a></li>
                    <li class="padd0-20-0-20p"><a href="https://www.linkedin.com/in/loan-pasionek" target="_blank"><i class="fab faHover fa-linkedin-in fs40 fs40-xs color6"></i></a></li>
                    <li class="padd0-20-0-20p"><a href="mailto:l.pasionek@gmail.com"><i class="fas faHover fa-at fs40 fs40-xs color6"></i></a></li>
                </ul>
                    <!-- Bouton d'ouverture du modal C.V. -->
                    <!--   <button id="button-modal">Curriculum Vitae</button> -->

                    <!-- Modal -->
                    <div id="modal" class="modal">

                        <!-- Contenu du modal -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Some text in the Modal..</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>      

        <!-- Carousel pour les projets -->
      
    <div class="row slide2 h100 relative h100vh-xl">
        <div class="owl-carousel owl-theme owl-loaded ">
            {% for projet in projets %}
            <div>
                <div class="item mleft40p center-sm color6">
                    <div class="col l5 w100-sm mtop30p">
                        <!-- <hr class="w75p center"> -->
                        <br>
                        <a href="{{ projet.url }}" target="_blank">
                        
                        <img src="{{ asset( projet.image )}}" alt="images projets" class="col l10 s12 imgCarousel">
                        </a>
                    </div>

                    {# Infos projet #}
                    <div class="col l5 s12 titillium mtop30p">
                        <div class="w75 w95-sm center-sm">
                            <hr>
                            <p class="fs24 fs24-mm fs32-sm bold">{{ projet.name }}</p>
                            <hr>
                            <div class="textjustify bold">
                                <p class="fs20 fs20-mm fs24-sm"><span class="bold">Description :</span> <br>
                                    {{ projet.infos }}
                                </p>
                                <p class="fs20 fs20-mm fs24-sm"><span class="bold">Technologies utilisées :</span> <br>
                                    {{ projet.technos }}
                                </p>
                                <!-- Git / url -->
                                <div class="flex">
                                    <i class="material-icons">arrow_right_alt</i>
                                    <span>
                                        <a href="{{ projet.giturl }}" target="_blank" class="fs15 fs20-sm">
                                        Git repository &nbsp                    
                                        </a>
                                    </span>
                                    <i class="material-icons">arrow_right_alt</i>
                                    <span>
                                        <a href="{{ projet.url }}" target="_blank" class="fs15 fs20-sm">
                                        Lien vers le projet                               
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>    
</section>



    <!-- Section personnelle -->

<section id="hobbies" class="card nomargin h100vh h100minusNav-mm h100-sm h120vh-mm titillium slide3">        
    <div class="flex block-on-med-and-down">
            <h3 class="nomargin rotated rotated-sm fs80 fs80-sm titleSection color6 h2padd mtop30p right-align">Hobbies</h3>
        <div class="w100-sm flex block-sm block-mm w100 row padd40p padd20p-mm">
            <div class="w20 w100-sm w90-mm">
                <p class="fs24 fs32-sm w75-sm bold color6 nomargin center">Et à part le boulot, tu fais quoi dans la vie ?</p>
                <ul class="hide-on-small-only center row">
                    <button id="btn-all" class="bgcolor9 color6 semi-bold noborder"><li>Tous</li></button>
                    <button id="btn-books" class="bgcolor9 color6 semi-bold noborder"><li>Littérature</li></button>
                    <button id="btn-video" class="bgcolor9 color6 semi-bold noborder"><li>Ciné / séries</li></button>
                    <button id="btn-sport" class="bgcolor9 color6 semi-bold noborder"><li>Sport</li></button>
                    <button id="btn-music" class="bgcolor9 color6 semi-bold noborder"><li>Musique</li></button>
                    <button id="btn-games" class="bgcolor9 color6 semi-bold noborder"><li>Jeux</li></button>
                </ul>
            </div>


            <div class="grid w85 left8-sm left8-mm w300p-sm w250p-xs mtop30p">
                {% for hobbie in hobbies %}
                    <div class="grid-item mleft2p mtop2p {{ hobbie.hobClass }} tooltip">
                        <a href="{{ hobbie.hobUrl }}" target="_blank">
                            <img src="{{ asset( hobbie.hobImg ) }}" alt="{{ hobbie.hobName }}" class="opacity100 imgCulture {{ hobbie.category }}">
                            <span class="tooltiptext titillium">{{ hobbie.hobName }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


    
{% endblock %}



